body{
  margin: 0;
  padding: 0;
  font-family: 'Inter',sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --salmon-cream  : #FF9A60;
  --white-cream   : #FEE5C1;
  --pink          : #EE7D81;
  --black         : #191919;
  --salmon-red    : #EA5224;
}

/* body */
body{
	display: flex;
	flex-direction: column; /* goes down */
	align-items: center;
}


/*BAGIAN HEADER*/
/*========================================================================================================================*/

header{
  width: 100%;
}

.header {
  overflow        : hidden;
  background-color: #EA5224;
  padding         : 20px;
  box-shadow      : 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}

.header a {
  float          : left;
  color          : white;
  text-align     : center;
  padding        : 12px;
  text-decoration: none;
  font-size      : 18px;
  line-height    : 25px;
  border-radius  : 4px;
}

.header-right a {
  font-family : "Inter";
  padding-left: 30px;
}

.header .logo {
  font-family: "Montserrat";
  font-size  : 25px;
}

.logo span {
  font-weight: 800;
}

.header-right a:hover {
  color: #ddd;
}

.header-right {
  float: right;
}

@media screen and (max-width: 800px) {
  header {
    text-align: center;
  }

  .header a {
    float  : none;
    display: block;
  }

  .header-right {
    float: none;
  }

  .header-right a {
    padding: 7px;
  }
}
  

/* PREVIOUS TODO STOPS HERE */

/* todo maps */
.locationClickDivs{
	border: solid 1px rgba(25,25,25,.2);
	width: 25vw;
}


/* buat lokasi */

.lokasi-headings{
	margin:30px;
}

.location-click{
  /* TODO */
  border: solid 1px rgba(15, 15, 15, .2);
  background-color: lightgrey;
  /* padding: 2vw 4vw; */
  padding: 20px;
}


.map-selection{
	border: solid 1px rgba(25,25,25,.2);
	width: 80vw;
	margin: 20px;
	/* padding: 0 10% 10% 0; */
}

.map-div{
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.locationClickDivs{
		width: auto;
	}
	.lokasi-headings{
		font-size: 8pt;
	}
	.map-selection{
		margin: 0;
		flex-direction: column-reverse;
	}
}
  


#gmap{
	display: block;
	width: 100%;
}

/* end maps todo */

.heading1{
  font-weight: bolder;
  font-family: "Inter";
  text-align: center;
  font-weight: 1000px;
  padding-top: 60px;
  padding-bottom: 70px;
  font-size: 30px;
}

.box{
  margin: 0 auto;
  height: 850px;
  width: 1150px;
  /* background: red; */
  display: block;
}

.kategori{
  height: 100%;
  float: left;
}

.kategori a{
  color: white;
  padding: 30px;
}

.kategori a li {
  width: 200px;
  height: 40px;
  background-color: #FF9A60;
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  border-radius: 100px;
  color: white;
  padding: 10px;
}

.row1::after{
  content: "";
  display: table;
}

.column {
  float: right;
  width: auto;
  padding: 20px;
  padding-left: 50px;
}

.footer{
  width: 100%;
  height: 30vh;
  background-color: #191919;
  color: #FAFAFA;
}

.innerFooter{
  height: 100%;
  width: 1300px;
  /* background-color: green; */
  display: block;
  margin: 0 auto;
}

.sosmed{
  float: right;
  vertical-align: middle;
  display: table-row;
  height: 100%;
  padding-right: 200px;
}

.sosmed li{
  height: 100%;
  padding: 30px;
}

.sosmed li a{
  font-weight: normal;
  height: 100%;
  font-family: "Inter";
  font-size: 16px;
  color: white;
}

/* form for book-bow */

form{
  padding-bottom: 5vh;
}

.form-title{
  margin: 4vh;
	text-transform: uppercase;
}

.book-now{
	/* border: solid 2px black; */
	max-width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-div{
	display: flex;
	width: 65vw;
	margin: 15px 0;
}

.form-div>label{
  display: flex;
  align-items: center;
	width: 15vw;
}


input[type=text],input[type=date],input[type=email],textarea,select{ /* forms */
	width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  background-color: #e5e5e5;
  resize: none;
}

.form-div>select{
  background-color: #e5e5e5;
}

input[type=submit]{
  background-color: #2a9d8f;
  border: 0;
  color: #FAFAFA;
  border-radius: 8px;
  padding: 2vh 8vw;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 800;
}

input:focus,textarea:focus,select:focus{
  outline-color: var(--salmon-red);
}

@media only screen and (max-width: 600px) {
	.form-div{
		flex-direction: column;
	}
}
  

/*BAGIAN FOOTER*/
/*========================================================================================================================*/

.bottomBar {
  width: 100%;
  height          : auto;
  background-color: #24262b;
  /* padding         : 2vw 4vw 0vw; */
}

.titleFooter {
  color      : white;
  font-size  : 2vw;
  font-weight: bold;
  padding    : 5px 10px;
}

.containerFooter {
  display: flex;
  padding: 5vw 0;
}

.subContainerFooter {
  flex     : 1;
  font-size: 1.25vw;
}

@media (max-width: 768px) {
  .containerFooter {
    flex-direction: column;
    text-align    : center;

  }

  .logoFooter {
    display: none;
  }
}

.logoFooter {
  width           : 15vw;
  height          : auto;
  border-radius   : 5vw;
  text-align      : center;
  background-color: #888888;
  z-index         : 999998;
}

.logoFooter h1 {
  color      : white;
  height     : 100%;
  font-family: "Montserrat";
  font-size  : 1.6vw;
  font-weight: 200;
}

.logoFooter h1 span {
  font-weight: 800;
}

.logoFooter :hover {
  color     : red;
  transition: all 0.5s ease;
}

.menuSubContainerFooters ul {
  list-style-type: none;
}

.menuSubContainerFooters a {
  height     : 20vw;
  width      : 20vw;
  text-align : center;
  line-height: 40px;
  color      : white;
  transition : all 0.5s ease;
  box-sizing : border-box;
  font-weight: bold;
}

.subContainerFooter .menuSubContainerFooters a:hover {
  color: red;
}

.menuSubContainerFooters ul li i {
  height: 3vw;
  width : 3vw;

  background-color: #bbb;
  border-radius   : 50%;
  display         : inline-block;

  vertical-align: middle;
  text-align    : center;
  position      : relative;
  display       : table-cell;
}

#iconFooter {
  top  : 1vw;
  right: 0.5vw;
}

@media (max-width: 768px) {
  .bottomBar {
    /* display        : flex; */
    align-self     : center;
    justify-content: center;
  }

  .containerFooter {
    flex-direction: column;
    text-align    : center;
  }

  .logoFooter {
    display: none;
  }

  .titleFooter {
    display        : flex;
    align-self     : center;
    justify-content: center;
    color          : white;
    height         : 100%;
    vertical-align : middle;
    font-family    : "Montserrat";
    font-size      : 5vw;
    font-weight    : bold;
  }

  .menuSubContainerFooters ul {
    list-style-type: none;
    margin-right   : 8vw;
    font-size      : 3vw;
    font-weight    : 100;
  }

  #iconFooter {
    top  : 0.5vw;
    right: 0.5vw;
  }
}

.logoFooter a{
  color: white;
}

a{
  text-decoration: none;
}

.button {
  text-align     : center;
  color          : white;
  border-radius  : 20px;
  box-shadow     : 0px 0.25vw #888888;
  margin         : 10px 20px 10px;
  padding-top    : 0.5vw;
  padding-bottom : 0.5vw;
  background     : black;
  bottom         : 0;
  font-size      : 1.25vw;
  text-decoration: none;
  overflow       : none;
  transition     : all 0.5s ease;
}

.button:hover {
  background: white;
  color     : black;
}

.back-button-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 2vw;
}

.backButton {
  width        : 2vw;
  height       : 2vw;
  background   : wheat;
  border: 1vw solid wheat;
  border-radius: 50px;
  margin       : 2vw auto;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}


@media (min-width: 768px) {
  #selectionButton1 {
    display: none;
  }
}