body {
	background-color: #F4F4F4;
	background-size : cover;
	margin          : 0;
	padding         : 0;
  
	line-height    : 1.5;
	font-family    : 'Inter', sans-serif;
	text-decoration: none;
  
	-webkit-background-size: cover;
	-moz-background-size   : cover;
	-o-background-size     : cover;
  }
  
  .box {
	height: auto;
	width : auto;
  }
  
  a {
	text-decoration: none;
  }
  
  /*BAGIAN HEADER*/
  /*========================================================================================================================*/
  
  .topBar {
	display: flex;
  }
  
  .header {
	display    : flex;
	align-items: center;
	width      : 100vw;
	background : #EA5224;
  }
  
  .logoContainer {
	height      : 100%;
	padding-left: 13.5vw;
  
	display        : flex;
	align-self     : center;
	justify-content: center;
  }
  
  .logoContainer h1 {
	color         : white;
	height        : 100%;
	display       : table-cell;
	vertical-align: middle;
	font-family   : "Montserrat";
	font-size     : 1.6vw;
	font-weight   : 200;
  }
  
  .logoContainer h1 span {
	font-weight: 800;
  }
  
  .logoContainer h1 a {
	color: inherit;
  }
  
  .logoContainer :hover {
	color     : gainsboro;
	transition: all 0.5s ease;
  }
  
  .navigation {
	display   : flex;
	align-self: center;
	float     : left;
  }
  
  .navigation a {
	height : 100%;
	padding: 0px 30px;
  }
  
  .navigation a:last-child {
	padding-right: 10px;
  }
  
  .navigation a li {
	text-align : center;
	height     : 100%;
	font-family: "Inter";
	font-size  : 0.8vw;
	color      : white;
  }
  
  /* durung mlaku */
  .navigation ul a li :hover {
	color     : gainsboro;
	transition: all 0.5s ease;
  }
  
  #home {
	margin-left: 25vw;
  }
  
  @media only screen and (max-width: 768px) {
	.header {
	  display: block;
	}
  
	.logoContainer {
	  height : 100%;
	  padding: 0;
  
	  display        : flex;
	  align-self     : center;
	  justify-content: center;
	}
  
	.logoContainer h1 {
	  color         : white;
	  height        : 100%;
	  display       : table-cell;
	  vertical-align: middle;
	  font-family   : "Montserrat";
	  font-size     : 3vw;
	  font-weight   : 200;
	}
  
	.navigation {
	  display: block;
	  float  : none;
	}
  
	.navigation a li {
	  text-align     : center;
	  justify-content: center;
	  height         : 100%;
	  font-family    : "Inter";
	  font-size      : 3vw;
	  color          : white;
	  margin-right   : 8vw;
	}
  }
  
  /*========================================================================================================================*/
  
  /*BAGIAN MAIN*/
  /*========================================================================================================================*/
  
.topAbout {
	height: 65vh;
	/* border: 1px solid black; */
}

.topAbout img {
	width	: 52vw;
	height	: 65vh;
	float	: right;
}

.topAbout h1  {
	font-size	: 3vw;
	font-weight	: bold;
	margin-left	: 14vw;
	margin-top	: 26vh;
	/* border: 1px solid black; */
}

.visi {
	margin-top	: 10vh;
	margin-left	: 14vw;
	margin-right: 14vw;
	height		: fit-content;
	/* border: 1px solid black; */
}

.visi img {
	margin-top: 5vh;
	width: 32vw;
	padding: 0.6vw;
	float: left;
}

.visi h2 {
	font-size: 2.6vw;
	font-weight: bold;
	margin-top: 5vh;
	margin-left: 35vw;
	/* border: 1px solid black; */
}

.visi p {
	/* border: 1px solid black; */
	margin-left: 35vw;
	text-align: justify;
	font-size: 1.3vw;
}

.misi {
	margin-top: 2vh;
	margin-left: 14vw;
	margin-right: 14vw;
	height: fit-content;
	/* border: 1px solid black; */
	margin-bottom: 13vh;
}

.misi img {
	margin-top: 6vh;
	width: 32vw;
	height: auto;
	padding: 0.6vw;
	float: right;
}

.misi h2 {
	font-size: 2.6vw;
	font-weight: bold;
	margin-top: 6vh;
	/* border: 1px solid black; */
}

.misi ul {
	/* border: 1px solid black; */
	margin-right: 35vw;
	padding-left: 1.3vw;
	text-align: justify;
	font-size: 1.3vw;
}

@media (max-width: 426px) {

	.topAbout {
		/* border: 2px solid green; */
		height: fit-content;
		width: auto;
	}

	.topAbout img {
		float	: none;
		width: 100%;
		height: auto;
		/* border: 1px; */
	}

	.topAbout h1 {
		margin-top: 2.6vh;
		text-align: center;
		margin-left: 3%;
		font-size	: 4vw;
	}

	.visi {
		/* border: 2px solid green; */
		height: fit-content;
		margin-top: 1.3vh;
	}

	.visi img {
		float: none;
		margin: auto;
		width: 100%;
		height: auto;
	}

	.visi h2{
		margin: auto;
		margin-top: 1.3vh;
		text-align: center;
	}

	.visi p {
		margin-left: 0;
		margin-top: 1.3vh;
	}

	.misi {
		/* border: 2px solid green; */
		height: fit-content;
		margin-bottom: 2.6vh;
	}

	.misi img {
		float: none;
		width: 100%;
		height: auto;
		margin-top: 2.6vh;
	}

	.misi h2{
		margin: auto;
		margin-top: 1.3vh;
		text-align: center;
	}

	.misi ul {
		margin-right: 0;
		margin-top: 1.3vh;
	}

}
  
  /*========================================================================================================================*/
  
  /*BAGIAN FOOTER*/
  /*========================================================================================================================*/
  .bottomBar {
	width           : auto;
	height          : auto;
	background-color: #24262b;
	padding         : 2vw 4vw 0vw;
  }
  
  .titleFooter {
	color      : white;
	font-size  : 2vw;
	font-weight: bold;
  }
  
  .containerFooter {
	display: flex;
	padding: 5vw 0;
  }
  
  .subContainerFooter {
	flex     : 1;
	font-size: 1.25vw;
  }
  
  @media (max-width: 768px) {
	.containerFooter {
	  flex-direction: column;
	  text-align    : center;
  
	}
  
	.logoFooter {
	  display: none;
	}
  }
  
  .logoFooter {
	width           : 15vw;
	height          : auto;
	border-radius   : 5vw;
	text-align      : center;
	background-color: #888888;
	z-index         : 999998;
  }
  
  .logoFooter h1 {
	color      : white;
	height     : 100%;
	font-family: "Montserrat";
	font-size  : 1.6vw;
	font-weight: 200;
  }
  
  .logoFooter h1 span {
	font-weight: 800;
  }
  
  .logoFooter :hover {
	color     : red;
	transition: all 0.5s ease;
  }
  
  .menuSubContainerFooters ul {
	list-style-type: none;
  }
  
  .menuSubContainerFooters a {
	height     : 20vw;
	width      : 20vw;
	text-align : center;
	line-height: 40px;
	color      : white;
	transition : all 0.5s ease;
	box-sizing : border-box;
	font-weight: bold;
  }
  
  .subContainerFooter .menuSubContainerFooters a:hover {
	color: red;
  }
  
  .menuSubContainerFooters ul li i {
	height: 3vw;
	width : 3vw;
  
	background-color: #bbb;
	border-radius   : 50%;
	display         : inline-block;
  
	vertical-align: middle;
	text-align    : center;
	position      : relative;
	display       : table-cell;
  }
  
  #iconFooter {
	top  : 1vw;
	right: 0.5vw;
  }
  
  @media (max-width: 768px) {
	.bottomBar {
	  /* display        : flex; */
	  align-self     : center;
	  justify-content: center;
	}
  
	.containerFooter {
	  flex-direction: column;
	  text-align    : center;
	}
  
	.logoFooter {
	  display: none;
	}
  
	.titleFooter {
	  display        : flex;
	  align-self     : center;
	  justify-content: center;
	  color          : white;
	  height         : 100%;
	  vertical-align : middle;
	  font-family    : "Montserrat";
	  font-size      : 5vw;
	  font-weight    : bold;
	}
  
	.menuSubContainerFooters ul {
	  list-style-type: none;
	  margin-right   : 8vw;
	  font-size      : 3vw;
	  font-weight    : 100;
	}
  
	#iconFooter {
	  top  : 0.5vw;
	  right: 0.5vw;
	}
  }

/* Clear Fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
